<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
    </properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--        <setting name="cacheEnabled" value="true"/>-->
    </settings>
    <typeAliases>
<!--        <typeAlias type="com.bailiban.mybatis.model.User" alias="User" />-->
        <package name="com.bailiban.mvc.model"/>
    </typeAliases>
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${jdbc.driver}"/>-->
<!--                <property name="url" value="${jdbc.url}"/>-->
<!--                <property name="username" value="${jdbc.username}"/>-->
<!--                <property name="password" value="${jdbc.password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--        <mapper resource="com/bailiban/mybatis/mapper/xml/UserMapper.xml"/>-->
<!--        <mapper class="com.bailiban.mybatis.mapper.AccountMapper" />-->
<!--        <mapper resource="com/bailiban/mybatis/mapper/xml/AccountMapper.xml"/>-->
<!--&lt;!&ndash;        <package name="com.bailiban.mybatis.mapper"/>&ndash;&gt;-->
<!--        <mapper class="com.bailiban.mybatis.mapper.ContactMapper" />-->
<!--        <mapper resource="com/bailiban/mybatis/mapper/xml/ContactMapper.xml" />-->
<!--    </mappers>-->

</configuration>