<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bailiban.mybatis.mapper.UserMapper">
<!--    <cache flushInterval="6000" readOnly="false" />-->
    <resultMap id="user" type="User">
        <constructor>
            <idArg column="id" name="id"/>
            <arg column="name" name="name"/>
        </constructor>
<!--        <id property="id" column="id" />-->
<!--        <result property="name" column="name" />-->
        <association property="contact" autoMapping="true" fetchType="lazy">
            <id property="id" column="id"/>
            <result property="userId" column="id" />
        </association>
        <collection property="accounts" ofType="Account" autoMapping="true">
            <id property="id" column="a_id"/>
            <result property="userId" column="id" />
            <result property="type" column="type" />
<!--            <result property="money" column="money" />-->
        </collection>
    </resultMap>
    <select id="selectUser" resultMap="user" parameterType="int">
        select u.id, u.name, a.id a_id, a.type, a.money, c.id c_id, c.phone, c.email from user u
            left join account a on u.id = a.user_id
            left join contact c on u.id = c.user_id
        where u.id = #{id}
    </select>

    <select id="selectAllUser" resultType="User">
        select * from user;
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(name) values (#{name})
    </insert>

    <insert id="insertUsers" keyProperty="id" useGeneratedKeys="true">
        insert into user(name) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name})
        </foreach>
    </insert>

    <insert id="insertUser2" useGeneratedKeys="true" keyProperty="id">
        insert into user(name) values (#{name})
    </insert>

</mapper>